<ion-header parallax imageUrl="https://picsum.photos/350" maximumHeight="150" expandedColor="#AAA" titleColor="white">
  <ion-toolbar color="primary">
    <ion-title>
      <p>
        Request
      </p>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-card [routerLink]="['/meetinglist/123']" routerDirection="forward">
      <ion-card-header>
        <ion-card-subtitle>Request </ion-card-subtitle>
        <ion-card-title>Booking Meeting</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Euismod fames viverra porta in morbi risus parturient curabitur venenatis tristique lobortis dictum dui
        imperdiet
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Request </ion-card-subtitle>
        <ion-card-title>Leave</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Euismod fames viverra porta in morbi risus parturient curabitur venenatis tristique lobortis dictum dui
        imperdiet
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Request</ion-card-subtitle>
        <ion-card-title>Claim</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Euismod fames viverra porta in morbi risus parturient curabitur venenatis tristique lobortis dictum dui
        imperdiet
      </ion-card-content>
    </ion-card>
  </ion-row>
</ion-content>