.error-message {
  color: red;
  font-size: 14px;
  margin-left: 10px;
  margin-top: 10px;
}

.validation-errors {
  margin-left: 1%;
  margin-top: -1%;
  padding-bottom: 3%;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
}

.title {
  font-size: 30px;
  font-weight: 500;
}

.forgotpass {
  font-size: 12px;
  font-weight: 500;
  margin-left: 4%;
}

.passwordIcon {
  font-size: 25px !important;
  top: 40%;
  position: relative !important;
  // margin: 0 auto !important;
}
