<ion-header>
  <ion-toolbar>
    <ion-title>
      <p>
        Dashboard
      </p>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Announcement</ion-card-subtitle>
        <ion-card-title>SINTA 2.0</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Euismod fames viverra porta in morbi risus parturient curabitur venenatis tristique lobortis dictum dui
        imperdiet
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>Critical Bug Fixing</ion-card-subtitle>
        <ion-card-title>Leave</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Euismod fames viverra porta in morbi risus parturient curabitur venenatis tristique lobortis dictum dui
        imperdiet
      </ion-card-content>
    </ion-card>
  </ion-row>
</ion-content>